<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488161599068-d8o1knq2u16qij0u84u25rph9mhqqtla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488161599068-d8o1knq2u16qij0u84u25rph9mhqqtla</string>
	<key>API_KEY</key>
	<string>AIzaSyDEOvXkOjfn-wdHP7kuTKIgUk-qn_ANg1s</string>
	<key>GCM_SENDER_ID</key>
	<string>488161599068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationUniversity</string>
	<key>PROJECT_ID</key>
	<string>lotosproject-f42ef</string>
	<key>STORAGE_BUCKET</key>
	<string>lotosproject-f42ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488161599068:ios:d014eb4a917681691ed099</string>
</dict>
</plist>